@model IEnumerable<FypProject.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section class="section">
    <div class="container">
        <div class="content">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                        <h2>Index</h2>

                        <p>
                            @Html.ActionLink("Create New", "Contact")
                        </p>
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CellNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Message)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CellNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Message)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
            <hr class="largehr">
        </div>
 </section>

