@model IEnumerable<FypProject.Models.UpdateProfile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<section class="section">
    <div class="container">
        <div class="content">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <h2>Your Account Information</h2>
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Company)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Location)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Website)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageUrl)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Company)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(ModelItem =>item.Website)
                                </td>
                                <td>
                                    <img src="@Url.Content(item.ImageUrl)" alt="not found" height="100" width="100" />
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.DeveloperID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.DeveloperID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.DeveloperID })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr class="largehr">
</section>