@{
    ViewBag.Title = "WebMarket";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";  
}

<section class="section nopad single-wrap firstsection">
    <div class="absolutetitle">
        <div class="page-title public-profile-title">
            <div class="row">
                <div class="col-sx-12 text-center">
                    <h3>Everything you need for your next creative project.</h3>
                    <h4 style="color:white">Over 9 million digital products created by a global comunity of developers, <br> designers,photographers,illustrators & producers</h4>
                </div>
            </div>
            <div class="content-before">
                <div class="row">
                    <div class="col-md-12 col-sx-12 cen-xs">
                        <form class="dropForm">
                            <div class="input-prepend">
     
                                    <li class="dropdown yamm-half hovermenu form-control">
                                        <a href="#">Market <b class="fa fa-angle-down"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                    <div class="dropdown-toggle">
                                                        <h5>Market Categories</h5>
                                                        <ul>
                                                            <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                                                            <li>@Html.ActionLink("Themes & Templates", "Index", "Themes")</li>
                                                            <li>@Html.ActionLink("Moble Apps", "Index", "MobApps")</li>
                                                            <li>@Html.ActionLink("Web API's", "Index", "WebApis")</li>
                                                            <li>@Html.ActionLink("Icons,Logos & Fonts", "Index", "Graphics")</li>
                                                            <li>@Html.ActionLink("3D Models & CG Textures", "Index", "Textures")</li>
                                                            <li>@Html.ActionLink("Stock Photos & Gif's", "Index", "Photos")</li>
                                                            <li>@Html.ActionLink("Scripts & Plugins", "Index", "Plugins")</li>
                                                            <li>@Html.ActionLink("More", "Index", "Mores")</li>
                                                        </ul>
                                                    </div><!-- end col -->
                                            </li>
                                        </ul>
                                    </li>
                            </div>
                        </form>
                    </div>
                </div><!-- end row -->
            </div><!-- end content before -->
        </div>
    </div><!-- end absolutetitle -->
    <div class="main hidden-xs">
        <div id="ri-grid" class="ri-grid ri-grid-size-2 ri-shadow">
            <img class="ri-loading-image" src="~/images/loading.gif" />
            <ul>
                <li><a href="#"><img src="~/images/upload/item_01.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_02.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_03.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_04.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_05.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_06.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_07.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_08.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_09.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_10.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_11.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_12.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_13.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_14.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_15.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_16.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_17.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_18.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_19.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_20.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_21.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_22.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_23.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_24.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_25.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_26.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_27.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_28.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_29.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_30.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_31.jpg" alt=""></a></li>  
                <li><a href="#"><img src="~/images/upload/item_32.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_33.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_34.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_35.jpg" alt=""></a></li>
                <li><a href="#"><img src="~/images/upload/item_36.jpg" alt=""></a></li>
            </ul>
        </div>
    </div>
</section>

<section class="section hometab">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="publicprofile">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#products" aria-controls="products" role="tab" data-toggle="tab"> Categories</a></li>
                         
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active fade in" id="products">
                                <div class="container">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item-box">
                                                    <div class="item-media entry">
                                                        <img src="~/images/upload/cat_01.png" alt="" class="img-responsive">
                                                        <div class="magnifier">
                                                            <div class="item-author">
                       
                                                            </div>
                                                            <!-- end author -->
                                                        </div>
                                                        <div class="theme__button">
                                                            <p><a href="category.html" title=""><i class="fa fa-link"></i></a></p>
                                                        </div>
                                                    </div>
                                                    <!-- end item-media -->
                                                    <h4><a> @Html.ActionLink("Projects", "Index", "Projects")</a></h4>
                                                </div>
                                                <!-- end item-box -->
                                            </div>
                                            <!-- end col -->
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item-box">
                                                    <div class="item-media entry">
                                                        <img src="~/images/upload/cat_02.png" alt="" class="img-responsive">
                                                        <div class="magnifier">
                                                            <div class="item-author">
                 
                                                            </div>
                                                            <!-- end author -->
                                                        </div>
                                                        <div class="theme__button">
                                                            <p><a href="category.html" title=""><i class="fa fa-link"></i></a></p>
                                                        </div>
                                                    </div>
                                                    <!-- end item-media -->
                                                    <h4><a> @Html.ActionLink("Themes & Templates", "Index", "Themes")</a></h4>
                                                </div>
                                                <!-- end item-box -->
                                            </div>
                                            <!-- end col -->
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item-box">
                                                    <div class="item-media entry">
                                                        <img src="~/images/upload/cat_03.png" alt="" class="img-responsive">
                                                        <div class="magnifier">
                                                            <div class="item-author">

                                                            </div>
                                                            <!-- end author -->
                                                        </div>
                                                        <div class="theme__button">
                                                            <p><a href="category.html" title=""><i class="fa fa-link"></i></a></p>
                                                        </div>
                                                    </div>
                                                    <!-- end item-media -->
                                                    <h4><a> @Html.ActionLink("Moble Apps", "Index", "MobApps")</a></h4>
                                                </div>
                                                <!-- end item-box -->
                                            </div>
                                            <!-- end col -->
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item-box">
                                                    <div class="item-media entry">
                                                        <img src="~/images/upload/cat_04.png" alt="" class="img-responsive">
                                                        <div class="magnifier">
                                                            <div class="item-author">
                                 
                                                            </div>
                                                            <!-- end author -->
                                                        </div>
                                                        <div class="theme__button">
                                                            <p><a href="category.html" title=""><i class="fa fa-link"></i></a></p>
                                                        </div>
                                                    </div>
                                                    <!-- end item-media -->
                                                    <h4><a> @Html.ActionLink("Web API's", "Index", "WebApis")</a></h4>
                                                </div>
                                                <!-- end item-box -->
                                            </div>
                                            <!-- end col -->
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item-box">
                                                    <div class="item-media entry">
                                                        <img src="~/images/upload/cat_05.png" alt="" class="img-responsive">
                                                        <div class="magnifier">
                                                            <div class="item-author">
                                                 
                                                            </div>
                                                            <!-- end author -->
                                                        </div>
                                                        <div class="theme__button">
                                                            <p><a href="category.html" title=""><i class="fa fa-link"></i></a></p>
                                                        </div>
                                                    </div>
                                                    <!-- end item-media -->
                                                    <h4><a> @Html.ActionLink("Icons,Logos & Fonts", "Index", "Graphics")</a></h4>
                                                </div>
                                                <!-- end item-box -->
                                            </div>
                                            <!-- end col -->
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item-box">
                                                    <div class="item-media entry">
                                                        <img src="~/images/upload/cat_06.png" alt="" class="img-responsive">
                                                        <div class="magnifier">
                                                            <div class="item-author">
                                            
                                                            </div>
                                                            <!-- end author -->
                                                        </div>
                                                        <div class="theme__button">
                                                            <p><a href="category.html" title=""><i class="fa fa-link"></i></a></p>
                                                        </div>
                                                    </div>
                                                    <!-- end item-media -->
                                                    <h4><a> @Html.ActionLink("3D Models & CG Textures", "Index", "Textures")</a></h4>

                                                </div>
                                                <!-- end item-box -->
                                            </div>
                                            <!-- end col -->
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item-box">
                                                    <div class="item-media entry">
                                                        <img src="~/images/upload/cat_07.png" alt="" class="img-responsive">
                                                        <div class="magnifier">
                                                            <div class="item-author">
                                                   
                                                            </div>
                                                            <!-- end author -->
                                                        </div>
                                                        <div class="theme__button">
                                                            <p><a href="category.html" title=""><i class="fa fa-link"></i></a></p>
                                                        </div>
                                                    </div>
                                                    <!-- end item-media -->
                                                    <h4><a> @Html.ActionLink("Stock Photos & Gif's", "Index", "Photos")</a></h4>
                                                </div>
                                                <!-- end item-box -->
                                            </div>
                                            <!-- end col -->
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item-box">
                                                    <div class="item-media entry">
                                                        <img src="~/images/upload/cat_08.png" alt="" class="img-responsive">
                                                        <div class="magnifier">
                                                            <div class="item-author">
                               
                                                            </div>
                                                            <!-- end author -->
                                                        </div>
                                                        <div class="theme__button">
                                                            <p><a href="category.html" title=""><i class="fa fa-link"></i></a></p>
                                                        </div>
                                                    </div>
                                                    <!-- end item-media -->
                                                    <h4><a> @Html.ActionLink("Scripts & Plugins", "Index", "Plugins")</a></h4>

                                                </div>
                                                <!-- end item-box -->
                                            </div>
                                            <!-- end col -->
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item-box">
                                                    <div class="item-media entry">
                                                        <img src="~/images/upload/cat_09.png" alt="" class="img-responsive">
                                                        <div class="magnifier">
                                                            <div class="item-author">
                                                              
                                                            </div>
                                                            <!-- end author -->
                                                        </div>
                                                        <div class="theme__button">
                                                            <p><a href="category.html" title=""><i class="fa fa-link"></i></a></p>
                                                        </div>
                                                    </div>
                                                    <!-- end item-media -->
                                                    <h4><a> @Html.ActionLink("More", "Index", "Mores")</a></h4>
                                                </div>
                                                <!-- end item-box -->
                                            </div>
                                            <!-- end col -->
                                            <!-- end item-box -->
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                </div><!-- end row -->
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end content -->
    </div>
</section>


