
@{
    ViewBag.Title = "Type";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<br />
<section class="section nopad single-wrap firstsection">
    <div class="absolutetitle">
            <div class="row">
                <li class="dropdown megamenu yamm-half hovermenu">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Market <b class="fa fa-angle-down"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="box">
                                            <h5>Market Categories</h5>
                                            <ul>
                                                <li>@Html.ActionLink("Projects", "Create", "Projects")</li>
                                                <li>@Html.ActionLink("Themes_&_Templates", "Create", "Themes")</li>
                                                <li>@Html.ActionLink("MobleApps", "Create", "MobApps")</li>
                                                <li>@Html.ActionLink("WebAPI's", "Create", "WebApis")</li>
                                                <li>@Html.ActionLink("Icons,Logos_&_Fonts", "Create", "Graphics")</li>
                                                <li>@Html.ActionLink("3DModels_&_CGTextures", "Create", "Textures")</li>
                                                <li>@Html.ActionLink("Stock_Photos_&_Gif's", "Create", "Photos")</li>
                                                <li>@Html.ActionLink("Scripts_&_Plugins", "Create", "Plugins")</li>
                                                <li>@Html.ActionLink("More", "Create", "Mores")</li>
                                            </ul>
                                        </div><!-- end box -->
                                    </div><!-- end col -->
                                </div>
                            </div><!-- end ttmenu-content -->
                        </li>
                    </ul>
                </li>
            </div><!-- end row -->
        </div><!-- end content -->
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
